@model Models.State

@{
  var modelId = Html.IdForModel();
  var repeaterRowId = $"{modelId}_repeaterRow";
  var stateContentCardHeaderId = $"{modelId}_stateContentCardHeader";
  var stateContentId = $"{modelId}_stateContent";
  var addButtonId = $"{modelId}_addButton";
}

@Html.HiddenFor(m => m.StateId)
<div id="@repeaterRowId" class="row" data-repeater-row="@modelId">
  <div class="col">
    <div class="card mb-1">
      <div class="card-header alert-primary" id="@stateContentCardHeaderId">
        <a data-toggle="collapse" href="#@stateContentId">
          State: @Model.Name
        </a>
      </div>
      <div id="@stateContentId" class="collapse">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label asp-for="Name" class="control-label"></label>
                <div class="col">
                  <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label asp-for="IsTerritory" class="control-label"></label>
                <div class="col">
                  <input asp-for="IsTerritory" class="form-control" />
                </div>
                <span asp-validation-for="IsTerritory" class="text-danger"></span>
              </div>
            </div>
          </div>
          @Html.EditorFor(m => m.Locations)
          <div class="row">
            <button id="@addButtonId" type="button" class="btn btn-outline-secondary"
                    data-repeater-add-button=""
                    data-repeater-id="@Html.IdFor(m => m.Locations)"
                    data-repeater-name="@Html.NameFor(m => m.Locations)">
              Add Location
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>